
<footer class="bg-dark text-light py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>About Me</h5>
                <p>Passionate Software engineer with a focus on creating innovative solutions.</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#Hero" class="text-light">Home</a></li>
                    <li><a href="#About" class="text-light">About</a></li>
                    <li><a href="#Portfolio" class="text-light">Portfolio</a></li>
                    <li><a href="#Skills" class="text-light">Skills</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Connect</h5>
                <div class="d-flex">
                    <a target="_blank" href="https://www.linkedin.com/in/hussien-khalifa-646663222/" class="text-light me-3"><fa-icon [icon]="faLinkedin"></fa-icon></a>
                    <a target = "_blank" href="https://github.com/hussien103" class="text-light me-3"><fa-icon [icon]="faGithub"></fa-icon></a>
                    <a href="#" class="text-light"><fa-icon [icon]="faTwitter"></fa-icon></a>
                </div>
            </div>
        </div>
        <hr class="bg-light">
        <div class="text-center">
            <p>&copy; 2023 Hussien Ahmad. All rights reserved.</p>
        </div>
    </div>
</footer>
